/* #mapContainer {
  margin: 0 relative;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
} */
body{
  background-color: #fff;
}
h1, h2 {
  font-family: fantasy
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

.sidebar {
  width: 300px;
  position: absolute;
  /* background-color: #63BCFF; */
  background-color: #E6F7FF;
  border: 3px solid #5E6569;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
  -webkit-box-shadow: 9px 9px 15px 8px rgba(0,0,0,0.43);
  box-shadow: 9px 9px 15px 8px rgba(0,0,0,0.43);
  border-radius: 11px;
}
.info-box {
  top: 35px;
  left: 35px;
  z-index: 10;
  background-color: #FFE6E7;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom:15px;
}

button {
  background-color: #fff;
  width: 55px;
  height: 50px;
  top: 35px;
  padding: 5px;
  margin: 0px;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 1px 1px 7px #525252;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
}


.marker {
background-image: url('../image/subway.png');
background-size: contain;
display: block;
border: none;
border-radius: 30%;
cursor: pointer;
padding: 0;
}

text {
    font: 12px sans-serif;
}

/* #piechart {
  position: fixed;
  top: 0;
  left: 0;
} */

/* svg {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
} */

/*
#marker {
background-image: url('https://imgur.com/4Pq9anB');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
} */
/* #marker {
width: 5px;
height: 5px;
border-radius: 20%;
cursor: pointer;
} */
